[mysqld]
# 启用严格模式，插入非法/缺失数据时报错
sql_mode = STRICT_ALL_TABLES

# 设置默认字符集和排序规则
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci

# 统一时区
default-time-zone = '+00:00'

[client]
default-character-set = utf8mb4
